body {
    text: center;
}
fieldset {
width: 500px

}
label, input {
    margin: 1%;
}
table {
    border-collapse: collapse;

}
 td {
    border: 1px solid black;
     border: 2px solid rgb(200, 200, 200);


 }